<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <!--  
		    To remove a previous NSIS installation but utilise its configuration (peelNSIS), this custom action must start 'early'.
		    Catch: If the installation then fails and rolls back, peeling cannot be undone.
	    -->
    <CustomAction Id="IMCA_PeelNSIS"     BinaryKey='MinionConfigExt' DllEntry='IMCA_PeelNSIS'   Execute='firstSequence'/>
    <CustomAction Id="IMCA_NukeConf"     BinaryKey='MinionConfigExt' DllEntry='IMCA_NukeConf'  />
    <CustomAction Id="DECA_WriteConfig"  BinaryKey='MinionConfigExt' DllEntry='DECA_WriteConfig'  Execute='deferred' Return='check' Impersonate='no'/>

    <!--
         Deferred execution is necessary to change the configuration prior 
         to start the service, which is done during the install instead of running 'net start' at the end. 
         Running 'net start' would not produce any useful log information.

         Immediate custom actions (IMCA_ ) can read/write msi Properties.
         Deferred custom actions (DECA_) require properties to be passed as CustomActionData
         via separate type 51 custom actions (CADH_): 
           The 'Property=' attribute must be set to the name of the custom action receiving the data, and 
           the 'Value=' attribute must be a list of key=[Property] pairs.

         Actions are declared here and called (repeatedly) in Product.wxs.
         Actions must have C# Signature [CustomAction] public static ActionResult
    -->
    <!--  Naming/terminology changes from msi to Salt. -->    
    <CustomAction Id="CADH_WriteConfig"  Property="DECA_WriteConfig"  Value="root_dir=[INSTALLFOLDER];master=[MASTER_HOSTNAME];id=[MINION_HOSTNAME]" />


    <!--could be nice to use later -->
    <CustomAction Id="PhysicalMemoryWarning" Script="vbscript"><![CDATA[
  If session.Property("PhysicalMemory") < 100 Then
    MsgBox("For running Salt Minion $(var.DisplayVersion), 100MB of physical memory are recommended.")
  End If
  ]]></CustomAction>


    <Binary Id='MinionConfigExt' SourceFile='$(var.MinionConfigurationExtension.TargetDir)$(var.MinionConfigurationExtension.TargetName).CA.dll'/>
  </Fragment>
</Wix>
