<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <!-- This fragment is included by Product.wxs -->
  <Fragment>
    <UI Id="ProductUI">

      <UIRef Id="WixUI_InstallDir" />

      <Publish Dialog="InstallDirDlg"     Control="Next" Event="NewDialog" Value="ProductUIsettings" Order="4">WIXUI_DONTVALIDATEPATH OR WIXUI_INSTALLDIR_VALID="1"</Publish>

      <Publish Dialog="ProductUIsettings" Control="Next" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>
      <Publish Dialog="ProductUIsettings" Control="Back" Event="NewDialog" Value="InstallDirDlg">1</Publish>

      <Publish Dialog="VerifyReadyDlg"    Control="Back" Event="NewDialog" Value="ProductUIsettings" Order="1">NOT Installed</Publish>

      <ProgressText Action="WriteConfig_DECAC">Configuring minion</ProgressText>
    </UI>
  </Fragment>
</Wix>
