<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
  xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <Fragment>
    <Component        Id="servicePython" Directory="BINFOLDER" Guid="51713960-fbe7-4e87-9472-66e3c18f76cd">
      <File           Source="$(var.dist)\bin\python.exe"  KeyPath="yes"/>
      <ServiceInstall Name="salt-minion"  DisplayName="Salt Minion"  Description="Salt Minion from saltstack.com"
                      Arguments="[BINFOLDER]Scripts\salt-minion -c [INSTALLFOLDER]conf -l quiet"
                      Account="LocalSystem"  ErrorControl="normal" Start="auto"  Type="ownProcess"  Vital="yes" >
        <util:ServiceConfig
          FirstFailureActionType="none"
          SecondFailureActionType="none"
          ThirdFailureActionType="none" />
      </ServiceInstall>
      <!-- 
        Stop the service on both install (upgrade) and uninstall. 
        msiexec adds files before service start and removes files after service stop.
        Wait=yes is the default, but Ramirez ch 11 p 300 mentions it.
        -->
      <ServiceControl Name="salt-minion"  Start="install"  Stop="both"  Remove="uninstall"  Wait="yes" Id="ServiceControl">
        <ServiceArgument /> <!-- http://stackoverflow.com/questions/10621082/wix-serviceinstall-arguments  -->
      </ServiceControl>
    </Component>
  </Fragment>
</Wix>
