<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Bundle
    Name="Salt Minion $(var.DisplayVersion)"
    Version="$(var.InternalVersion)"
    Manufacturer="SaltStack, Inc"
    UpgradeCode="{FC6FB3A2-65DE-41A9-AD91-D10A402BD642}"
    AboutUrl="http://saltstack.org"
    IconSourceFile="$(var.dist)\salt.ico"
    DisableModify="yes">
    <BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.HyperlinkLicense">
      <bal:WixStandardBootstrapperApplication
        LicenseUrl=""
        xmlns:bal="http://schemas.microsoft.com/wix/BalExtension" />
    </BootstrapperApplicationRef>

		<Chain>
      <MsiPackage
        Id="MainPackage"
        DisplayInternalUI="yes"
        SourceFile="$(var.MinionMSI.TargetPath)"
        Vital="yes"
        Compressed="yes"
        Cache="no"/>
		</Chain>
	</Bundle>
</Wix>
