<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <!-- 2016-11-13  mkr
         For PrepareEvironmentBeforeInstallation, read the comment in Product.wxs
	  -->
    <CustomAction Id="PrepareEvironmentBeforeInstallation"  BinaryKey='MinionConfigExt' DllEntry='PrepareEvironmentBeforeInstallation'   Execute='firstSequence'/>
    <CustomAction Id="CACT_NukeConf"                         BinaryKey='MinionConfigExt' DllEntry='NukeConf'                                   />
    
    <CustomAction Id="CACT_SetMaster"   BinaryKey='MinionConfigExt' DllEntry='SetMaster'   Execute='deferred' Return='check' Impersonate='no'/>
    <CustomAction Id="CACT_SetMinionId" BinaryKey='MinionConfigExt' DllEntry='SetMinionId' Execute='deferred' Return='check' Impersonate='no'/>
    <CustomAction Id="CACT_SetRootDir"  BinaryKey='MinionConfigExt' DllEntry='SetRootDir'  Execute='deferred' Return='check' Impersonate='no'/>
    <CustomAction Id="CACT_RegRootDir"  BinaryKey='MinionConfigExt' DllEntry='RegRootDir'  Execute='deferred' Return='check' Impersonate='no'/>
    <!--
         Executing the above as deferred is necessary to implement the configuration
         changes prior to starting the service, which is done during the install
         instead of running 'net start' at the end. Running 'net start' makes all of
         the below unnecessary but doesn't produce any useful log information if
         it fails.

         (Deferred?) custom actions require properties to be passed as CustomActionData
         via separate type 51 custom actions to set the properties. The 'Property='
         attribute must be set to the name of the custom action receiving the data,
         and the 'Value=' attribute should be a list of key=[Property] pairs.

         All actions here are called in the InstallExecuteSequence in Product.wxs.
    -->
    <!-- the 3 CADR_ only use one Value, I leave a list because it could be useful later -->
    <CustomAction Id="CADR_SetMaster"   Property="CACT_SetMaster"   Value="MasterHostname=[MASTER_HOSTNAME];MinionRoot=[INSTALLFOLDER]" />
    <CustomAction Id="CADR_SetMinionId" Property="CACT_SetMinionId" Value="MinionHostname=[MINION_HOSTNAME];MinionRoot=[INSTALLFOLDER]" />
    <CustomAction Id="CADR_SetRootDir"  Property="CACT_SetRootDir"  Value="MinionRoot=[INSTALLFOLDER]" />
    <CustomAction Id="CADR_RegRootDir"  Property="CACT_RegRootDir"  Value="MinionRoot=[INSTALLFOLDER]" />

    <Binary Id='MinionConfigExt' SourceFile='$(var.MinionConfigurationExtension.TargetDir)$(var.MinionConfigurationExtension.TargetName).CA.dll'/>
  </Fragment>
</Wix>
