<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <CustomAction Id="SetMaster"   BinaryKey='MinionConfigExt' DllEntry='SetMaster'   Execute='deferred' Return='check' Impersonate='no'/>
    <CustomAction Id="SetMinionId" BinaryKey='MinionConfigExt' DllEntry='SetMinionId' Execute='deferred' Return='check' Impersonate='no'/>
    <CustomAction Id="SetRootDir"  BinaryKey='MinionConfigExt' DllEntry='SetRootDir'  Execute='deferred' Return='check' Impersonate='no'/>

    <!--
         Executing the above as deferred is necessary to implement the configuration
         changes prior to starting the service, which is done during the install
         instead of running 'net start' at the end. Running 'net start' makes all of
         the below unnecessary but doesn't produce any useful log information if
         it fails.

         Deferred custom actions require properties to be passed as CustomActionData
         via separate type 51 custom actions to set the properties. The 'Property='
         attribute must be set to the name of the custom action receiving the data,
         and the 'Value=' attribute should be a list of key=[Property] pairs.

         Adding more actions here means you will need to add them in the
         InstallExecuteSequence in Product.wxs.
    -->

    <CustomAction Id="SetMasterPropertiesCA"
      Property="SetMaster"
      Value="MasterHostname=[MASTER_HOSTNAME];MinionRoot=[INSTALLFOLDER]" />

    <CustomAction Id="SetMinionIdPropertiesCA"
      Property="SetMinionId"
      Value="MinionHostname=[MINION_HOSTNAME];MinionRoot=[INSTALLFOLDER]" />

    <CustomAction Id="SetRootDirPropertiesCA"
      Property="SetRootDir"
      Value="MinionRoot=[INSTALLFOLDER]" />

    <Binary Id='MinionConfigExt' SourceFile='$(var.MinionConfigurationExtension.TargetDir)$(var.MinionConfigurationExtension.TargetName).CA.dll'/>
  </Fragment>
</Wix>
